/* seletores e Agrupamenos */
/*  


*{ Seletor Universal: Aplica a todos os elementos}


p { Seletor Tipo: Seleciona todas as tags <p>}


.alerta {Seletor Classe: Seliciona todos os elementos com a class= "alerta" }


#principal {Seletor ID: Seleciona o elemento com id="principal"}


*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*{
    color: red;
}


h1 {
    color: rgb(0, 4, 215);
}




.alerta {
    color: rgb(254, 254, 0);
}


#principal {
    background-color: rgb(4, 228, 228);
}

